<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- API Level 30未満では古いPermissionを使用する -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <!-- API Level 31以降で必要なPermission -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrivingDivActivity"
            android:label="@string/title_activity_driving_div"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DriverActivity"
            android:label="@string/title_activity_driver"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CarNoActivity"
            android:label="@string/title_activity_car_no"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InspectionActivity"
            android:label="@string/title_activity_inspection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GPSActivity"
            android:label="@string/title_activity_gps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CompanyActivity"
            android:label="@string/title_activity_company"
            android:screenOrientation="portrait" />
    </application>

</manifest>