<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.jp.dreamteam.bactrackbydreamteam2">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DriverActivity"
            android:label="@string/title_activity_driver" >
        </activity>
        <activity
            android:name=".CarNoActivity"
            android:label="@string/title_activity_car_no" >
        </activity>
        <activity
            android:name=".InspectionActivity"
            android:label="@string/title_activity_inspection" >
        </activity>
        <activity
            android:name=".GPSActivity"
            android:label="@string/title_activity_gps" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name=".FinishActivity"
            android:label="@string/title_activity_finish" >
        </activity>
        <activity
            android:name=".CompanyActivity"
            android:label="@string/title_activity_company" >
        </activity>
    </application>

</manifest>